{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}New Category{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-12 p-lg-4 bg-white">
            <h2>New Category</h2>
            <h6 class="text-muted">count:{{ categories|length }}</h6>

        </div>
    </div>
    <div class="row">
        <div class="sep"></div>
        <div class="col-lg-12 p-lg-4 bg-white">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}